.AccountPage
  .AccountPage__header
    %h1
      = link_to "/", class: "Contents__btn" do
        = image_tag 'logo.png', class: 'app'
  .AccountPage__main
    .AccountPage__container
      %h2.AccountPage__title 商品送付先住所情報
      .AccountPage__form
        = form_for(@destination, url: destinations_path, method: :post) do |f|
          = render "devise/shared/error_messages", resource: @destination
          .AccountPage__content
            .FormField
              .FormField__label
                = f.label :お名前（全角）
                %span.FormField--require 必須
              = f.text_field :family_name, class: 'FormField__input FormField__input--half FormField__input--half--first', placeholder: "例）山田"
              = f.text_field :first_name, class: 'FormField__input FormField__input--half', placeholder: "例）彩"
            .FormField
              .FormField__label
                = f.label :郵便番号
                %span.FormField--require 必須
                = f.text_field :post_code, class: 'FormField__input', placeholder: "郵便番号をハイフン(-)無しで７桁の半角数字で入力してください"
            .FormField
              .FormField__label
                = f.label :都道府県
                %span.FormField--require 必須
                %br
                =f.select :prefecture, {北海道:1,青森県:2,岩手県:3,宮城県:4,秋田県:5,山形県:6,福島県:7,茨城県:8,栃木県:9,群馬県:10,埼玉県:11,千葉県:12,東京都:13,神奈川県:14,新潟県:15,富山県:16,石川県:17,福井県:18,山梨県:19,長野県:20,岐阜県:21,静岡県:22,愛知県:23,三重県:24,滋賀県:25,京都府:26,大阪府:27,兵庫県:28,奈良県:29,和歌山県:30,鳥取県:31,島根県:32,岡山県:33,広島県:34,山口県:35,徳島県:36,香川県:37,愛媛県:38,高知県:39,福岡県:40,佐賀県:41,長崎県:42,熊本県:43,大分県:44,宮崎県:45,鹿児島県:46,沖縄県:47}, { include_blank: '選択してください'}, { class: 'FormField__input' , required: true } 
                -# = f.text_field :prefecture, class: 'FormField__input', placeholder: "例）京都府"
            .FormField
              .FormField__label
                = f.label :市区町村
                %span.FormField--require 必須
                = f.text_field :city, class: 'FormField__input', placeholder: "例）〇〇市"
            .FormField
              .FormField__label
                = f.label :番地
                %span.FormField--require 必須
                = f.text_field :town, class: 'FormField__input', placeholder: "例）〇〇11-1"
            .FormField
              .FormField__label
                = f.label :マンション名、部屋番号
                = f.text_field :block, class: 'FormField__input'
            .FormField
              .FormField__label
                = f.label :電話番号
                = f.text_field :phone_number, class: 'FormField__input'
          .AccountPage__content
            = f.submit '登録する', class: "submit-btn", url: "destinations"
  .AccountPage__footer
    %ul.FooterLists
      %li.FooterList プライバシーポリシー
      %li.FooterList FURIMA利用規約
      %li.FooterList 特定商取引に関する表記
    = link_to "/", class: "FooterLogo" do
      = image_tag 'logo-white.png', class: 'app'
      