.myPageMain
  .myPageLeft
    .myPageMenu
      .Menu1
        マイページ
      .Menu2
        =link_to "出品する", new_item_path , method: :get, class: "Menulink"
      .Menu2
        =link_to "本人情報編集", "#" , method: :get, class: "Menulink"
      .Menu2
        =link_to "カード設定", "#" , method: :get, class: "Menulink"
      .Menu2
        =link_to "ログアウト", destroy_user_session_path, method: :delete, class: "Menulink"
  .myPageRight
    .myPageShow
      .userIcon
        .userName
          = current_user.family_name
          = current_user.first_name
      .userStatus
        .userSell
          出品数 
          = @items_sell_count
        .userBuy
          購入数
          = @items_buy_count
        .userLike
          お気に入り
          - if @favorite_list.present?
            - @favorite_list.each do
              = @item.name
              = @item.price