%header.Header
  .Header__inner
    .Header__main
      .Header__icon
        = link_to '/' do
          = image_tag "logo.png", class: "Header__logo"
      .Header__search
        = form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |f|
          = f.text_field :keyword, placeholder: "検索する", class: "search-input"
          %label{for: "search-icon", class: "search-label"}
            %i.fas.fa-search
          .search-icon
            = f.submit "検索", class: "search-btn", id: "search-icon"
    %div.Header__navi
      %ul.Header__left
        %li.Header__left--category
          = link_to 'カテゴリー', categories_path, class: "Header__naviBtn" 
          .tree
            %ul.category1
              - @parents.each do |parent|
                %li.parent__list
                  = link_to category_path(parent.id) do
                    = parent.name
                  %ul.category2
                    - parent.children.each do |child|
                      %li.child__list
                        = link_to category_path(child.id) do
                          = child.name
                        %ul.category3
                          - child.children.each do |grandchild|
                            %li.grandchild__list
                              = link_to category_path(grandchild.id) do
                                = grandchild.name
        %li.Header__left--brand
          = link_to 'ブランド', '#', class: "Header__naviBtn"
      %ul.Header__right
        - if user_signed_in?
          %li.Header__right--list--nicknam
            = link_to current_user.nickname, user_path(current_user)
          %li.Header__right--list
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "Header__naviBtn"
        - else  
          %li.Header__right--list
            = link_to 'ログイン', new_user_session_path, class: "Header__naviBtn__login" 
          %li.Header__right--list
            = link_to '新規会員登録', new_user_registration_path, class: "Header__naviBtn__new" 