%header.Header
  .Header__inner
    .Header__main
      .Header__icon
        = link_to '/' do
          = image_tag "logo.png", class: "Header__logo"
      .Header__search
        %form.Header__form{action: "#", method: "get", "accept-charset" => "UTF-8"}
          %input{name: "utf-8", type: "hidden", value: "✓"}
          %input#searchText.Header__text{name: "keyword", placeholder: "キーワードから探す"}
          %button.Header__search-btn{type: "submit"}
            %div
              = image_tag "search.png", class: "Header__search__icon"

    %div.Header__navi
      %ul.Header__left
        %li.Header__left--category
          = link_to 'カテゴリー', '#', class: "Header__naviBtn" 
        %li.Header__left--brand
          = link_to 'ブランド', '#', class: "Header__naviBtn"
      %ul.Header__right
        - if user_signed_in?
          %li.Header__right--list--nicknam
            = current_user.nickname
          %li.Header__right--list
            %li= link_to 'マイページ', '/users/show'
          %li.Header__right--list
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "Header__naviBtn"
        - else  
          %li.Header__right--list
            = link_to 'ログイン', new_user_session_path, class: "Header__naviBtn__login" 
          %li.Header__right--list
            = link_to '新規会員登録', new_user_registration_path, class: "Header__naviBtn__new" 