%section.Contents__brand
  %h2.head
  .product-box
    .product-box__head
      = link_to'#', class: 'product-head' do
        %h3.title
    .product-box__lists
      - @items.each do |item|
        .product-box__list
          = link_to item_path(item.id), class: 'new-product' do
            %figure.product-box__img
              = image_tag item.images.first.image_url, size: "220x150"
              - if item.buyer_id.present? 
                .items-sold
                  .items-sold__inner 
                    SOLD
            .product-box__body
              %h3.name 
                = item.name
              .detail
                %ul.price-line
                  %li.price 
                    = item.price
                    円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.tax （税込）