.mainC
  .showMain
    .allContents
      .topContent
        .itemBox
          .itemBox__message
            product2
          .itemBox__picture
            = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: 'mainPic'
            %ul
              %li
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: 'subPic'
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: 'subPic'
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: 'subPic'
          .itemBox__price
            ￥20000
          .itemBox__terms
            (税込) 送料込み
          .itemBox__detail
            親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
          %table{ class: "tbody"}
            %tr{class: "tr"}
              %th{class: "th"}
                出品者
              %td{class: "td"}
                hoge
            %tr{class: "tr"}
              %th{class: "th"}
                カテゴリー
              %td{class: "td"}
                = link_to @category.parent.parent.name, item_path, class: ""
                = link_to @category.parent.name, item_path, class: ""
                = link_to @category.name, item_path, class:""
            %tr{class: "tr"}
              %th{class: "th"}
                ブランド
              %td{class: "td"}
                ッグッチ
            %tr{class: "tr"}
              %th{class: "th"}
                商品のサイズ
              %td{class: "td"}
                ちいさめ
            %tr{class: "tr"}
              %th{class: "th"}
                商品の状態
              %td{class: "td"}
                新品/未使用
            %tr{class: "tr"}
              %th{class: "th"}
                配送料の負担
              %td{class: "td"}
                着払い(購入者負担)
            %tr{class: "tr"}
              %th{class: "th"}
                発送元の地域
              %td{class: "td"}
                青森県
            %tr{class: "tr"}
              %th{class: "th"}
                発送日の目安
              %td{class: "td"}
                1−2日で発送
          .optionArea
            .optionArea__likebtn
              %i{class: "fa fa-star"}
              お気に入り 0
            .optionArea__alertbtn
              %i{class: "fa fa-flag"}
              不適切な商品の通報

      //marge
      .editbtn
        - if user_signed_in? && current_user.id == @item.seller_id
          - if @item.buyer_id == nil
            = link_to "商品を編集する", edit_item_url
          - else
            .soldout
              売却済みのため編集できません
        - elsif user_signed_in? && current_user.id != @item.seller_id && @item.buyer_id == nil
          = link_to "購入画面に進む", item_purchase_index_path(@item.id), method: :get
        - elsif @item.buyer_id != nil
          .soldout
            SOLD OUT
        - else
          = link_to "ログインして下さい", new_user_session_path

      .commentBox
        = form_with local: true do |f|
          .commentBody
            = f.text_field :content, class: 'commentBody__input'
          .notification
            相手のことを考え丁寧なコメントを心がけましょう。
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button{name: "button", type:"submit", class:"button"}
            %i{class:"fa fa-comment"}
            コメントする
      .links
        = link_to "< 前の商品", "", class: "link1"
        = link_to "後ろの商品 >", "", class: "link1"
      .relatedItems
        = link_to "メンズをもっと見る", "", class: "link2"


