.mainC
  .showMain
    .allContents
      .topContent
        .itemBox
          .itemBox__message
            = @item.name
          .itemBox__picture
            = image_tag @item.images[0].image.url, class: 'mainPic'
              - if @item.buyer_id.present? 
              .items-sold
                .items-sold__inner 
                  SOLD
            %ul
              %li
                - @item.images[1..-1].each do |image|
                  = image_tag image.image.url, class: 'subPic'
          .itemBox__price
            ¥ 
            = @item.price
          .itemBox__terms
            (税込) 
            %span
            %td 
              = @delivery_cost.name
          .itemBox__purchase
            -if (user_signed_in? && @item.buyer_id == nil)
              -if (current_user.id == @item.seller_id)
                %button.itemBox__purchase--btn
                  = link_to "商品情報を編集", edit_item_url
                %button.itemBox__purchase--btn
                  = link_to '商品を削除', item_path, method: :delete
              - else
                %button.itemBox__purchase--btn
                  = link_to "購入に進む",buy_item_path 

          .itemBox__detail
            = @item.detail
          %table{ class: "tbody"}
            %tr{class: "tr"}
              %th{class: "th"}
                出品者
              %td{class: "td"}
                = @user.nickname
            %tr{class: "tr"}
              %th{class: "th"}
                カテゴリー
              %td{class: "td"}
                = link_to @category.parent.parent.name, categories_path, class: ""
                = link_to @category.parent.name, categories_path, class: ""
                = link_to @category.name, categories_path, class:""
            %tr{class: "tr"}
              %th{class: "th"}
                ブランド
              %td{class: "td"}
                - if @item.brand.present?
                  = @item.brand
                - else
                  登録なし
            %tr{class: "tr"}
              %th{class: "th"}
                商品の状態
              %td{class: "td"}
                -# だいぶ古い
                = @condition.name 
            %tr{class: "tr"}
              %th{class: "th"}
                配送料の負担
              %td{class: "td"}
                = @delivery_cost.name
            %tr{class: "tr"}
              %th{class: "th"}
                発送元の地域
              %td{class: "td"}
                = @prefecture.name
            %tr{class: "tr"}
              %th{class: "th"}
                発送日の目安
              %td{class: "td"}
                = @delivery_days.name
          .optionArea
            .optionArea__likebtn
              %i{class: "fa fa-star"}
              お気に入り 0
            .optionArea__alertbtn
              %i{class: "fa fa-flag"}
              不適切な商品の通報

      .commentBox
        .commentBody
          - if current_user
            = form_with model: [@item, @comment], local: true do |f|
              = f.text_area :content, class: 'commentBody__input', placeholder: ""
              .notification
                %p
                相手のことを考え丁寧なコメントを心がけましょう。
                %br/
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %button{name: "button", type:"submit", class:"button"}
                %i{class:"fa fa-comment"}
                コメントする
          - else
            %strong
              %p
                ※※※ コメントの投稿には
                = link_to "新規会員登録", new_user_registration_path
                または
                = link_to "ログイン", new_user_session_path
                が必要です ※※※
        -# = form_with local: true do |f|
        -#   .commentBody
        -#     = f.text_field :content, class: 'commentBody__input'
        -#   .notification
        -#     相手のことを考え丁寧なコメントを心がけましょう。
        -#     不快な言葉遣いなどは利用制限や退会処分となることがあります。
        -#   %button{name: "button", type:"submit", class:"button"}
        -#     %i{class:"fa fa-comment"}
        -#     コメントする
      .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
            = comment.user.nickname
            ：
            = comment.content

      .links
        = link_to "< 前の商品", "", class: "link1"
        = link_to "後ろの商品 >", "", class: "link1"
      .relatedItems
        = link_to "#{@category.name}をもっと見る", "", class: "link2"

