.mainC
  .showMain
    .allContents
      .topContent
        .itemBox
          .itemBox__message
            = @item.name
          .itemBox__picture
            = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG", class: 'mainPic'
            -# = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", 
            %ul
              %li
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: 'subPic'
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: 'subPic'
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: 'subPic'
          .itemBox__price
            ¥ 
            = @item.price
          .itemBox__terms
            (税込) 送料込み
          .itemBox__detail
            = @item.detail
          %table{ class: "tbody"}
            %tr{class: "tr"}
              %th{class: "th"}
                出品者
              %td{class: "td"}
                hoge
            %tr{class: "tr"}
              %th{class: "th"}
                カテゴリー
              %td{class: "td"}
                -# = link_to @category.parent.parent.name, item_path, class: ""
                -# = link_to @category.parent.name, item_path, class: ""
                = link_to @category.name, item_path, class:""
            %tr{class: "tr"}
              %th{class: "th"}
                ブランド
              %td{class: "td"}
                = @item.brand
            %tr{class: "tr"}
              %th{class: "th"}
                商品のサイズ
              %td{class: "td"}
                ちいさめ
            %tr{class: "tr"}
              %th{class: "th"}
                商品の状態
              %td{class: "td"}
                だいぶ古い
                -# = @item.Condition.data.name
            %tr{class: "tr"}
              %th{class: "th"}
                配送料の負担
              %td{class: "td"}
                着払い(購入者負担)
            %tr{class: "tr"}
              %th{class: "th"}
                発送元の地域
              %td{class: "td"}
                青森県
            %tr{class: "tr"}
              %th{class: "th"}
                発送日の目安
              %td{class: "td"}
                1−2日で発送
          .optionArea
            .optionArea__likebtn
              %i{class: "fa fa-star"}
              お気に入り 0
            .optionArea__alertbtn
              %i{class: "fa fa-flag"}
              不適切な商品の通報

      .commentBox
        = form_with local: true do |f|
          .commentBody
            = f.text_field :content, class: 'commentBody__input'
          .notification
            相手のことを考え丁寧なコメントを心がけましょう。
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button{name: "button", type:"submit", class:"button"}
            %i{class:"fa fa-comment"}
            コメントする
      .links
        = link_to "< 前の商品", "", class: "link1"
        = link_to "後ろの商品 >", "", class: "link1"
      .relatedItems
        = link_to "メンズをもっと見る", "", class: "link2"


