%head
%meta{"charset":"UTF-8"}
%link{"href": "style.css", "rel": "stylesheet"}
%title Sample
%body
  .Header-buy
    .Header-buy__logo
      %span.image
      = link_to "/" do
        = image_tag 'payment_front/logo.png', height:'40px', weight:'100px'
  - breadcrumb :buy_item
  = render "layouts/breadcrumbs"
  .Contents-buy
    .Contents-buy__title
      購入内容の確認
    .Contents-buy__items
      .Contents-buy__items--image
        %span.image
        = image_tag @item.images[0].image.url, height:'200px', weight:'200px'
      .Contents-buy__items--introduction
        %p=@item.detail
        .Price-block
          送料込み(税込み)
          =@item.price
          円
    .Contents-buy__payment
      %div 支払い金額
      %div 
        =@item.price
        円
    .Contents-buy__creditcard
      - if @default_card_information.blank?
        .Contents-buy__creditcard--upper
          = link_to '＞クレジットカードを登録する', new_creditcard_path, method: :get, class: "Header__naviBtn"
        .Contents-buy__creditcard--lower
      - else
        .Contents-buy__creditcard--upper
          %label 登録クレジットカード情報
          =link_to "変更する", "/creditcard/show" , method: :get, class: "Menulink"
        .Contents-buy__creditcard--lower
          %label カード番号：
          = "**** **** **** " + @default_card_information.last4
          %br
          %label 有効期限 月/年：
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year

    .Contents-buy__distination
      .Contents-buy__distination--upper
        %label 配送先
      .Contents-buy__distination--lower
        〒
        -# = @destination.post_code
        -# %br
        -# = @destination.prefecture.name
        -# = @destination.city
        -# = @destination.town
        -# = @destination.block
        -# %br
        -# = @destination.family_name
        -# = @destination.first_name

    .Contents-buy__btn
      = form_tag(pay_item_path, method: :post) do
        - if @default_card_information.blank?
          .Contents-buy__btn--down
            %p クレジットカードを登録してください
        - else
          %button.Contents-buy__btn--down 購入する

  .Footer-buy
    %ul.Footer-buy__ul-box
      %li プライバシーポリシー
      %li フリマアプリ基本条約
      %li 特定商取引に関する表記
    .Footer-buy__logo
      %span.image
      = image_tag 'payment_front/logo-white.png', height:'40px', weight:'100px'
      %p @Frima,inc