.sell
  %header.sell-header
    = link_to '/' do
      = image_tag 'http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg', alt: 'furima', height: '49', width: '185'
  
  -#メイン部分
  .main
    %section.sell-container
    = form_with model: @item, local: true do |f|

      -# 画像部分
      .sell-container__content
        .sell-title
          %h3.sell-title__text
            出品画像
            %span.sell-title__require
              必須
        .sell-container__content__max-sheet 最大10枚までアップロードできます
        .sell-container__content__upload
          .sell-container__content__upload__items
            .sell-container__content__upload__items__box
              %div#output-box
                %div#image-input{tabindex:"0"}
                  = f.label :images, for: "item_images0", class: 'sell-container__content__upload__items__box__label', data: {label_id: 0 } do
                    = f.file_field :images, multiple: true, class: "sell-container__content__upload__items__box__input", id: "item_images0", style: 'display: none;'
                    %pre
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
        .error-messages#error-image
      %hr

      -#商品名部分
      .sell-container__content
        .sell-title
          %h3.sell-title__text
            商品名
            %span.sell-title__require
              必須
        = f.text_field :name, class:'sell-container__content__name', required: "required", placeholder: '商品名（必須 40文字まで)'
        .error-messages#error-name

        .sell-title
          %h3.sell-title__text
            商品の説明
            %span.sell-title__require
              必須
        = f.text_area :text, class:'sell-container__content__description', required: "required", rows: '7', maxlength: '1000', placeholder: '商品説明　（色、素材、重さ、定価、注意点など）'
        .error-messages#error-text
      %hr

        -# 詳細部分
        .sell-container__content
          %h3.sell-sub-head 商品の詳細
          .sell-container__content__details
            .sell-title
              %h3.sell-title__text
                カテゴリー
                %span.sell-title__require
                  必須
              .sell-collection_select
                = f.collection_select :category_id, Category.roots, :id, :name, {prompt: "選択してください"}, {class: "sell-collection_select__label", id: "parent_category"}
            .error-messages#error-category

            .sell-title
              %h3.sell-title__text
                ブランド
                %span.sell-title__option
                  任意
            .sell-collection_bland
              = f.text_field :name,class:'sell-collection_bland__name', placeholder: '例）　シャネル'

            .sell-title
              %h3.sell-title__text
                商品の状態
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.collection_select :status_id, Status.all, :id, :name, {prompt: "選択してください"}, {class: "sell-collection_select__label"}
            .error-messages#error-condition
        %hr

        -# 配送部分
        .sell-container__content
          %h3.sell-sub-head
            配送について
          .sell-container__content__delivery
            .sell-title
              %h3.sell-title__text
                配送料の負担
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.collection_select :postage_id, Postage.all, :id, :name, {prompt: "選択してください"}, {class: "sell-collection_select__label"}
            .error-messages#error-deliverycost

            .sell-title
              %h3.sell-title__text
                発送元の地域
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}, {class: "sell-collection_select__label"}
            .error-messages#error-prefecture

            .sell-title
              %h3.sell-title__text
                発送までの日数
                %span.sell-title__require
                  必須
            .sell-collection_select
              = f.collection_select :shippingday_id, ShippingDay.all, :id, :name, {prompt: "選択してください"}, {class: "sell-collection_select__label"}
            .error-messages#error-delivery_days
        %hr

        -# 価格部分
        .sell-container__content
          %h3.sell-sub-head
            %p 販売価格(300〜9,999,999)
          .sell-container__content__price
            .sell-title
              %h3.sell-title__text
                販売価格
                %span.sell-title__require
                  必須
            .sell-container__content__price__form
              = f.label :price, class: 'sell-container__content__price__form__label' do
                ¥
                = f.number_field :price, {placeholder: '0', value: '', autocomplete:"off", class: 'sell-container__content__price__form__box', required: "required"}
          .error-messages#error-price
        %hr

        .sell-btn
          = f.submit '出品する', class:"sell-btn__a"

  %footer.sell-footer
    %nav
      %ul.clearfix
        %li
          プライバシーポリシー
        %li
          FURIMA利用規約
        %li
          特定商取引に関する表記
    = link_to root_path do
      = image_tag 'http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg', alt: 'furima', height: '80', width: '95'
    %p
      %small
        © FURIMA