.sell
  %header.sell-header
    = link_to '/' do
      = image_tag 'http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg', alt: 'furima', height: '49', width: '185'

  -#メイン部分
  %main
    %section.sell-container
      = form_with model: @item do |f|

        -# 画像部分
        .sell-container__content
          .sell-title
            %h3.sell-title__text
              出品画像
              %span.sell-title__require
                必須
          .sell-container__content__max-sheet 最大10枚までアップロードできます
          .sell-container__content__upload
            .sell-container__content__upload__items
              .sell-container__content__upload__items__box
                %div#output-box
                  %div#image-input{tabindex:"0"}
                    = f.label :images, for: "item_images0", class: 'sell-container__content__upload__items__box__label', data: {label_id: 0 } do
                      = f.file_field :images, multiple: true, class: "sell-container__content__upload__items__box__input", id: "item_images0", style: 'display: none;'
                      %pre
                        ドラッグアンドドロップ
                        またはクリックしてファイルをアップロード
          .error-messages#error-image
        %hr

        -#商品名部分
        .sell-container__content
          .sell-title
            %h3.sell-title__text
              商品名
              %span.sell-title__require
                必須
          = f.text_field :name, class:'sell-container__content__name', required: "required", placeholder: '商品名（必須 40文字まで)'
          .error-messages#error-name

          .sell-title
            %h3.sell-title__text
              商品の説明
              %span.sell-title__require
                必須
          = f.text_area :text, class:'sell-container__content__description', required: "required", rows: '7', maxlength: '1000', placeholder: '商品説明　（色、素材、重さ、定価、注意点など）'
          .error-messages#error-text
        %hr

        -# 詳細部分
        .sell-container__content
          %h3.sell-sub-head 商品の詳細
          .sell-container__content__details
            .sell-title
              %h3.sell-title__text
                カテゴリー
                %span.sell-title__require
                  必須
            .sell-collection_select
              = select_tag 'card[category]', options_for_select(["選択して下さい", "レディース", "メンズ", "ベビー・キッズ", "インテリア・スマイ・小物", "本・音楽・ゲーム", "おもちゃ・ホビー・グッズ", "コスメ・香水・美容", "家電・スマホ・カメラ", "スポーツ・レジャー", "その他"])
            .error-messages#error-category

            .sell-title
              %h3.sell-title__text
                ブランド
                %span.sell-title__option
                  任意
            .sell-collection_bland
              = f.text_field :name,class:'sell-collection_bland__name', placeholder: '例）　シャネル'

            .sell-title
              %h3.sell-title__text
                商品の状態
                %span.sell-title__require
                  必須
            .sell-collection_select
              = select_tag 'card[condition]', options_for_select(["選択して下さい", "新品・未使用", "未使用に近い", "目立った傷や汚れなし", "やや傷や汚れなし", "傷や汚れあり"])
            .error-messages#error-condition
        %hr

        -# 配送部分
        .sell-container__content
          %h3.sell-sub-head
            配送について
          .sell-container__content__delivery
            .sell-title
              %h3.sell-title__text
                配送料の負担
                %span.sell-title__require
                  必須
            .sell-collection_select
              = select_tag 'card[deliverycost]', options_for_select(["選択して下さい", "送料込み(出品者負担)", "着払い(購入者負担)"])
            .error-messages#error-deliverycost

            .sell-title
              %h3.sell-title__text
                発送元の地域
                %span.sell-title__require
                  必須
            .sell-collection_select
              = select_tag 'card[pref]', options_for_select(["選択して下さい", "北海道", "青森県", "岩手県", "宮城県", "秋田県", "山形県", "福島県", "茨城県", "栃木県", "群馬県", "埼玉県", "千葉県", "東京都", "神奈川県", "新潟県", "富山県", "石川県", "福井県", "山梨県", "長野県", "岐阜県", "静岡県", "愛知県", "三重県", "滋賀県", "京都府", "大阪府", "兵庫県", "奈良県", "和歌山県", "鳥取県", "島根県", "岡山県", "広島県", "山口県", "徳島県", "香川県", "愛媛県", "高知県", "福岡県", "佐賀県", "長崎県", "熊本県", "大分県", "宮崎県", "鹿児島県", "沖縄県", "海外"])
            .error-messages#error-pref

            .sell-title
              %h3.sell-title__text
                発送までの日数
                %span.sell-title__require
                  必須
            .sell-collection_select
              = select_tag 'card[delivery_days]', options_for_select(["選択してください", "1~2日で発送", "2~3日で発送", "4~7日で発送"])
            .error-messages#error-delivery_days
        %hr

        -# 価格部分
        .sell-container__content
          %h3.sell-sub-head
            %p 販売価格(300〜9,999,999)
          .sell-container__content__price
            .sell-title
              %h3.sell-title__text
                販売価格
                %span.sell-title__require
                  必須
            .sell-container__content__price__form
              = f.label :price, class: 'sell-container__content__price__form__label' do
                ¥
                = f.number_field :price, {placeholder: '0', value: '', autocomplete:"off", class: 'sell-container__content__price__form__box', required: "required"}
          .error-messages#error-price
        %hr

          .submit-btn
            = f.submit '出品する', class: 'submit-btn__sell-btn'

  %footer.sell-footer
    %nav
      %ul.clearfix
        %li
          プライバシーポリシー
        %li
          FURIMA利用規約
        %li
          特定商取引に関する表記
    = link_to root_path do
      = image_tag 'http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg', alt: 'furima', height: '80', width: '95'
    %p
      %small
        © FURIMA